.about{
    background-color: var(--background-color4);    
    display: flex;
    flex-wrap: wrap;
}

.about__container{
    display: flex;
    flex-direction: column;
    margin: 3rem;
    padding: 1rem;    
}

.about__text{
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
    width: 60%;  
}