:root {
   --background-color: #F5F5F5;
   --color-link: #000;
}

body {
    box-sizing: border-box;
    background-color: var(--background-color) ;
    margin: 0;
    padding: 0;
}
ol, ul,li {
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--color-link);
}