.experience{
    background: var(--background-color2);    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.experience__container{
    display: flex;
    flex-direction: column;
    margin: 3rem;
    padding: 1rem;
}

.experiencie__box{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    margin: 1em;
}

.experience__img{
    width: 60%;
}

.experience__info{
    margin: 2em;
}

.experience__title{
    font-size: 2rem;    
}

.experience__text{
    font-size: 20px;
}

.experience__btn{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.experience__btn--repo{
    display: flex;
    padding: 15px 25px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: var(--background-color1);
    color: var(--color-link);
    border-radius: 5%;
}

.experience__btn--repo:hover{
    background: #2A7AE4;
    color: var(--background-color1);
}

.experience__btn--demo{
    background: #2A7AE4;
    color: var(--background-color1);
    border-radius: 5%;
    display: flex;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.experience__btn--demo:hover{
    background-color: var(--background-color1);
    color: var(--color-link);
}